.login{
    /* backgroundColor: " #d9edff", width: 1370, position: "fixed", display: "flex", height: 650 ; */
    /* background-color: #d9edff; */
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(./image/b6.jpg);
     background-repeat: no-repeat; 
     overflow: hidden; 
     background-size: cover; 
     box-shadow: 0 0 10px #333;    
}


/* .i{
position:absolute;
left: 15px;
color: #333;
font-size: 16px;
top:310px;
margin-left: 550px;
box-sizing:border-box;
}
.i1{
    position:absolute;
    left: 15px;
    color: #333;
    font-size: 16px;
    top:410px;
    margin-left: 550px;
    } */
    